MONGO_URI=mongodb://localhost:27017/users-ms
PORT=3010
JWT_SECRET=CodeziumN3stS3cr3tW0rld
ADMIN_CODE=ADM
JWT_EXPIRATION=30d
MICROSERVICE_HOST=127.0.0.1
MICROSERVICE_PORT=3011

EMAIL_HOST=smtp.hostinger.com
EMAIL_PORT=587
EMAIL_USERNAME=desarrollo@bponet.com.co
EMAIL_PASSWORD=Desarrollo2025*
